
test2
test3


obj-gfortran/*
obj/*
obj-ifort/*
pwhg_main
lhef_analysis


testrun-wm-lhc-8TeV/*.top
testrun-wm-lhc-8TeV/*.dat
testrun-wm-lhc-8TeV/*.lhe
testrun-wm-lhc-8TeV/*equiv*
testrun-wm-lhc-8TeV/NLO_vs_LHEF
testrun-wm-lhc-8TeV/merged
testrun-wm-lhc-8TeV/pwhg_chec*
testrun-wm-lhc-8TeV/test.sh
testrun-wm-lhc-8TeV/FlavRegList
testrun-wm-lhc-8TeV/plots