
testrun-tdec-lhc2
testrun-tdec-lhc3
testrun-tdec-lhc4
testrun-tdec-lhc5
testrun-tdec-lhc6
testrun-tdec-lhc7

obj-gfortran/*
obj/*
obj-ifort/*
pwhg_main
lhef_analysis


testrun-tdec-lhc/*.top
testrun-tdec-lhc/*.dat
testrun-tdec-lhc/*.lhe
testrun-tdec-lhc/*equiv*
testrun-tdec-lhc/NLO_vs_LHEF
testrun-tdec-lhc/merged
testrun-tdec-lhc/pwhg_chec*
testrun-tdec-lhc/test.sh
testrun-tdec-lhc/FlavRegList
testrun-tdec-lhc/plots

pythia8